<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10031_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,194}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,103},{230,194}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{222,190}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,105},{222,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{224,190}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,105},{224,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{220,192}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,103},{220,192}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{224,192}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,105},{224,192}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{214,190}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,106},{214,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{210,192}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,104},{210,192}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{216,194}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,102},{216,194}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{202,170}}</string>
                <key>offset</key>
                <string>{54,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,120},{202,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10031_walk.png</string>
            <key>size</key>
            <string>{198,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d3b9c36156fb4571a98ee7b0b9cefd$</string>
            <key>textureFileName</key>
            <string>10031_walk.png</string>
        </dict>
    </dict>
</plist>
