<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10031_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{352,318}}</string>
                <key>offset</key>
                <string>{33,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,67},{352,318}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,538},{322,326}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,59},{322,326}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,576},{300,312}}</string>
                <key>offset</key>
                <string>{-60,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,73},{300,312}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,258},{312,316}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{312,316}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{298,328}}</string>
                <key>offset</key>
                <string>{-67,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,57},{298,328}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,866},{332,288}}</string>
                <key>offset</key>
                <string>{-55,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,97},{332,288}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{420,270}}</string>
                <key>offset</key>
                <string>{-49,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,125},{420,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,262}}</string>
                <key>offset</key>
                <string>{-61,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,131},{446,262}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{412,254}}</string>
                <key>offset</key>
                <string>{-43,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,149},{412,254}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10031_die.png</string>
            <key>size</key>
            <string>{994,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74dabab194097f22358489a8a5fd72ce$</string>
            <key>textureFileName</key>
            <string>10031_die.png</string>
        </dict>
    </dict>
</plist>
