<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10031_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{220,196}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,100},{220,196}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,186}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,110},{226,186}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{190,200}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,96},{190,200}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{224,202}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,116},{224,202}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{212,204}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,119},{212,204}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{218,180}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,116},{218,180}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{226,184}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,112},{226,184}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{224,190}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,106},{224,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10031_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{196,172}}</string>
                <key>offset</key>
                <string>{59,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,117},{196,172}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10031_attack.png</string>
            <key>size</key>
            <string>{230,1724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb93a2f824002f83b8d85a216ecb23f$</string>
            <key>textureFileName</key>
            <string>10031_attack.png</string>
        </dict>
    </dict>
</plist>
