<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10028_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,284}}</string>
                <key>offset</key>
                <string>{-32,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,180},{186,284}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{278,182}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,182},{278,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{270,172}}</string>
                <key>offset</key>
                <string>{-69,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,177},{270,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{316,98}}</string>
                <key>offset</key>
                <string>{-45,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,317},{316,98}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,106},{312,90}}</string>
                <key>offset</key>
                <string>{-52,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,339},{312,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{310,102}}</string>
                <key>offset</key>
                <string>{-53,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,349},{310,102}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{310,108}}</string>
                <key>offset</key>
                <string>{-53,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,347},{310,108}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10028_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,102},{312,96}}</string>
                <key>offset</key>
                <string>{-53,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,350},{312,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10028_die.png</string>
            <key>size</key>
            <string>{1782,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a557dfeb5fbee9c7cb6520729c027b4$</string>
            <key>textureFileName</key>
            <string>10028_die.png</string>
        </dict>
    </dict>
</plist>
