<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10072_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{314,252}}</string>
                <key>offset</key>
                <string>{-85,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,183},{314,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,262},{170,220}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,216},{170,220}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{258,228}}</string>
                <key>offset</key>
                <string>{-67,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,208},{258,228}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_hurt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,254}}</string>
                <key>offset</key>
                <string>{-88,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,182},{316,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10072_hurt.png</string>
            <key>size</key>
            <string>{490,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8029965ab076a861d6a92738e078e99f$</string>
            <key>textureFileName</key>
            <string>10072_hurt.png</string>
        </dict>
    </dict>
</plist>
