<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10072_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{314,252}}</string>
                <key>offset</key>
                <string>{-85,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,183},{314,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,326},{352,180}}</string>
                <key>offset</key>
                <string>{-42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,250},{352,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,332},{326,176}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,249},{326,176}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{444,206}}</string>
                <key>offset</key>
                <string>{152,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,219},{444,206}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{302,322}}</string>
                <key>offset</key>
                <string>{-31,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,28},{302,322}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{266,328}}</string>
                <key>offset</key>
                <string>{-35,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,3},{266,328}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,348}}</string>
                <key>offset</key>
                <string>{-72,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,34},{334,348}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,210},{316,252}}</string>
                <key>offset</key>
                <string>{-88,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,183},{316,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10072_attack.png</string>
            <key>size</key>
            <string>{1610,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:609fb6d61952e72b3830fbd5cd0c8ac7$</string>
            <key>textureFileName</key>
            <string>10072_attack.png</string>
        </dict>
    </dict>
</plist>
