<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10072_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{238,258}}</string>
                <key>offset</key>
                <string>{-36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,166},{238,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{220,252}}</string>
                <key>offset</key>
                <string>{-38,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,179},{220,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{208,248}}</string>
                <key>offset</key>
                <string>{-36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,181},{208,248}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,250}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,178},{198,250}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{210,244}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,183},{210,244}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{204,236}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,184},{204,236}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{212,252}}</string>
                <key>offset</key>
                <string>{-35,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,173},{212,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10072_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{222,264}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,161},{222,264}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10072_walk.png</string>
            <key>size</key>
            <string>{1864,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7392af047f66188dc84d53cff35a335$</string>
            <key>textureFileName</key>
            <string>10072_walk.png</string>
        </dict>
    </dict>
</plist>
