<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10061_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,238}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,191},{310,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{244,226}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,203},{244,226}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{194,234}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,195},{194,234}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10061_hurt.png</string>
            <key>size</key>
            <string>{756,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d13e740cd07b6d839390e1acb4bd6a$</string>
            <key>textureFileName</key>
            <string>10061_hurt.png</string>
        </dict>
    </dict>
</plist>
