<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10061_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,238}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,191},{310,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{318,168}}</string>
                <key>offset</key>
                <string>{-80,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,231},{318,168}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{286,148}}</string>
                <key>offset</key>
                <string>{-117,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,244},{286,148}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,152},{326,84}}</string>
                <key>offset</key>
                <string>{-123,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,360},{326,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,132},{308,112}}</string>
                <key>offset</key>
                <string>{-119,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,362},{308,112}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,132},{306,114}}</string>
                <key>offset</key>
                <string>{-116,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,359},{306,114}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{314,132}}</string>
                <key>offset</key>
                <string>{-117,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,362},{314,132}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{318,128}}</string>
                <key>offset</key>
                <string>{-118,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,365},{318,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10061_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{318,128}}</string>
                <key>offset</key>
                <string>{-117,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,369},{318,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10061_die.png</string>
            <key>size</key>
            <string>{1878,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:176b4da895b6d8ac53a482c043eb88d8$</string>
            <key>textureFileName</key>
            <string>10061_die.png</string>
        </dict>
    </dict>
</plist>
