<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10005_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,158}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,143},{102,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,146},{96,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{76,164}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,143},{76,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,178},{72,166}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,139},{72,166}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,164}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,141},{102,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{94,162}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,144},{94,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,178},{70,166}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,141},{70,166}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10005_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{74,166}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,140},{74,166}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10005_walk.png</string>
            <key>size</key>
            <string>{506,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d59294c4b1f0ccba06168e636883d65$</string>
            <key>textureFileName</key>
            <string>10005_walk.png</string>
        </dict>
    </dict>
</plist>
