<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10051_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1056},{226,286}}</string>
                <key>offset</key>
                <string>{-57,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,164},{226,286}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,186}}</string>
                <key>offset</key>
                <string>{-161,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,213},{430,186}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,820},{356,234}}</string>
                <key>offset</key>
                <string>{-154,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,225},{356,234}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{388,124}}</string>
                <key>offset</key>
                <string>{-166,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,332},{388,124}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{392,138}}</string>
                <key>offset</key>
                <string>{-165,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,340},{392,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{384,138}}</string>
                <key>offset</key>
                <string>{-164,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,352},{384,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{400,116}}</string>
                <key>offset</key>
                <string>{-167,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,355},{400,116}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{406,114}}</string>
                <key>offset</key>
                <string>{-168,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,357},{406,114}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10051_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{394,128}}</string>
                <key>offset</key>
                <string>{-164,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,357},{394,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10051_die.png</string>
            <key>size</key>
            <string>{500,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f985b3da4c735f7cb5b275100e9d5d1$</string>
            <key>textureFileName</key>
            <string>10051_die.png</string>
        </dict>
    </dict>
</plist>
