<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10006_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,198}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,125},{202,198}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{202,200}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,128},{202,200}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,406},{212,204}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,125},{212,204}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,612},{240,206}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,122},{240,206}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,202},{244,202}}</string>
                <key>offset</key>
                <string>{23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,125},{244,202}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{254,198}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,128},{254,198}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{238,202}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,124},{238,202}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{226,204}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,123},{226,204}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10006_walk.png</string>
            <key>size</key>
            <string>{472,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de9b13fcffc20bf8cb39c22477f68a73$</string>
            <key>textureFileName</key>
            <string>10006_walk.png</string>
        </dict>
    </dict>
</plist>
