<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10006_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,144},{140,232}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,102},{140,232}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,286},{192,204}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,124},{192,204}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,286},{204,148}}</string>
                <key>offset</key>
                <string>{-55,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,129},{204,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{206,136}}</string>
                <key>offset</key>
                <string>{-72,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,196},{206,136}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{234,140}}</string>
                <key>offset</key>
                <string>{-55,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,222},{234,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{232,108}}</string>
                <key>offset</key>
                <string>{-57,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,255},{232,108}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{234,90}}</string>
                <key>offset</key>
                <string>{-56,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,270},{234,90}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10006_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,80}}</string>
                <key>offset</key>
                <string>{-56,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,280},{236,80}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10006_die.png</string>
            <key>size</key>
            <string>{484,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d0f44b01e7d7d5d9d0447fb39b194c$</string>
            <key>textureFileName</key>
            <string>10006_die.png</string>
        </dict>
    </dict>
</plist>
