<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10069_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{152,250}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,186},{152,250}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,182}}</string>
                <key>offset</key>
                <string>{-89,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,251},{284,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{316,158}}</string>
                <key>offset</key>
                <string>{-125,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,273},{316,158}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,130},{332,102}}</string>
                <key>offset</key>
                <string>{-162,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,342},{332,102}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{330,126}}</string>
                <key>offset</key>
                <string>{-149,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,343},{330,126}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{320,118}}</string>
                <key>offset</key>
                <string>{-145,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,351},{320,118}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,116},{316,118}}</string>
                <key>offset</key>
                <string>{-142,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,360},{316,118}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{318,112}}</string>
                <key>offset</key>
                <string>{-142,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,368},{318,112}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10069_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,122},{318,82}}</string>
                <key>offset</key>
                <string>{-142,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,391},{318,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10069_die.png</string>
            <key>size</key>
            <string>{1832,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca15f295f3d2de56301a07e7aad21797$</string>
            <key>textureFileName</key>
            <string>10069_die.png</string>
        </dict>
    </dict>
</plist>
