<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>0.00</string>
	<key>angleVariance</key>
	<string>360.00</string>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<string>0.410</string>
	<key>finishColorBlue</key>
	<string>0.822</string>
	<key>finishColorGreen</key>
	<string>0.552</string>
	<key>finishColorRed</key>
	<string>0.537</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.678</string>
	<key>finishColorVarianceBlue</key>
	<string>0.362</string>
	<key>finishColorVarianceGreen</key>
	<string>0.177</string>
	<key>finishColorVarianceRed</key>
	<string>0.192</string>
	<key>finishParticleSize</key>
	<string>22.88</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>0.59</string>
	<key>gravityy</key>
	<string>-0.45</string>
	<key>maxParticles</key>
	<string>342.60</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>0.27</string>
	<key>particleLifespanVariance</key>
	<string>0.54</string>
	<key>radialAccelVariance</key>
	<string>0.29</string>
	<key>radialAcceleration</key>
	<string>-0.24</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>rotationStart</key>
	<string>-0.25</string>
	<key>sourcePositionVariancex</key>
	<string>0.417</string>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<string>151.057</string>
	<key>sourcePositiony</key>
	<string>153.051</string>
	<key>speed</key>
	<string>19.30</string>
	<key>speedVariance</key>
	<string>50.40</string>
	<key>startColorAlpha</key>
	<string>0.148</string>
	<key>startColorBlue</key>
	<string>0.835</string>
	<key>startColorGreen</key>
	<string>0.360</string>
	<key>startColorRed</key>
	<string>0.344</string>
	<key>startColorVarianceAlpha</key>
	<string>0.123</string>
	<key>startColorVarianceBlue</key>
	<string>0.369</string>
	<key>startColorVarianceGreen</key>
	<string>0.152</string>
	<key>startColorVarianceRed</key>
	<string>0.144</string>
	<key>startParticleSize</key>
	<string>45.20</string>
	<key>startParticleSizeVariance</key>
	<integer>0</integer>
	<key>tangentialAccelVariance</key>
	<string>257.51</string>
	<key>tangentialAcceleration</key>
	<string>50.32</string>
	<key>textureFileName</key>
	<string>pTexture.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
