<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>38.95</string>
	<key>angleVariance</key>
	<string>0.00</string>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<string>0.632</string>
	<key>finishColorBlue</key>
	<integer>0</integer>
	<key>finishColorGreen</key>
	<string>0.000</string>
	<key>finishColorRed</key>
	<string>0.000</string>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<integer>0</integer>
	<key>finishParticleSize</key>
	<string>57.73</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>0.59</string>
	<key>gravityy</key>
	<string>321.23</string>
	<key>maxParticles</key>
	<string>212.16</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>0.00</string>
	<key>particleLifespanVariance</key>
	<string>0.57</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<integer>0</integer>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>rotationStartVariance</key>
	<string>-18.20</string>
	<key>sourcePositionVariancex</key>
	<string>119.260</string>
	<key>sourcePositionVariancey</key>
	<string>3.307</string>
	<key>sourcePositionx</key>
	<string>165.477</string>
	<key>sourcePositiony</key>
	<string>273.891</string>
	<key>speed</key>
	<string>76.06</string>
	<key>speedVariance</key>
	<string>0.00</string>
	<key>startColorAlpha</key>
	<string>0.385</string>
	<key>startColorBlue</key>
	<real>0.35999999999999999</real>
	<key>startColorGreen</key>
	<string>0.623</string>
	<key>startColorRed</key>
	<string>0.909</string>
	<key>startColorVarianceAlpha</key>
	<real>0.5</real>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>74.75</string>
	<key>startParticleSizeVariance</key>
	<string>32.27</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string>/Users/duomai/Movies/三国/lizi/pTexture.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
