<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10062_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{144,180}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,144},{144,180}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{152,182}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,147},{152,182}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{138,188}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,142},{138,188}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,186}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,142},{160,186}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{184,182}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,145},{184,182}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,182}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,146},{188,182}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{158,184}}</string>
                <key>offset</key>
                <string>{28,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,142},{158,184}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10062_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{144,184}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,142},{144,184}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10062_walk.png</string>
            <key>size</key>
            <string>{1278,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1d0b3534ee63a85bd6b5770a5f934bd$</string>
            <key>textureFileName</key>
            <string>10062_walk.png</string>
        </dict>
    </dict>
</plist>
