<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>createCharacter_buyBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,408},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>createCharacter_buyBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,467},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>createCharacter_enterGameBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,340},{232,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,139}}</string>
                <key>sourceSize</key>
                <string>{232,139}</string>
            </dict>
            <key>createCharacter_enterGameBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{232,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,139}}</string>
                <key>sourceSize</key>
                <string>{232,139}</string>
            </dict>
            <key>createCharacter_fontground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,523}}</string>
                <key>sourceSize</key>
                <string>{1136,523}</string>
            </dict>
            <key>createCharacter_lightEffect_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,290},{175,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,52}}</string>
                <key>sourceSize</key>
                <string>{175,52}</string>
            </dict>
            <key>createCharacter_lightEffect_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,290},{175,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,52}}</string>
                <key>sourceSize</key>
                <string>{175,52}</string>
            </dict>
            <key>createCharacter_lightEffect_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,236},{175,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,52}}</string>
                <key>sourceSize</key>
                <string>{175,52}</string>
            </dict>
            <key>createCharacter_lightEffect_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,2},{175,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,52}}</string>
                <key>sourceSize</key>
                <string>{175,52}</string>
            </dict>
            <key>createCharacter_roleName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,481},{117,41}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{117,41}}</string>
                <key>sourceSize</key>
                <string>{139,71}</string>
            </dict>
            <key>createCharacter_selectedFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{188,336}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,336}}</string>
                <key>sourceSize</key>
                <string>{200,348}</string>
            </dict>
            <key>createCharacter_vipBtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,290},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>createCharacter_vipBtn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,481},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createCharacter.png</string>
            <key>size</key>
            <string>{1534,527}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10796b5212b645c057653ca43ed9a891$</string>
            <key>textureFileName</key>
            <string>createCharacter.png</string>
        </dict>
    </dict>
</plist>
