<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10067_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{338,254}}</string>
                <key>offset</key>
                <string>{57,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,171},{338,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,414},{206,236}}</string>
                <key>offset</key>
                <string>{-42,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,155},{206,236}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,652},{240,254}}</string>
                <key>offset</key>
                <string>{-77,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,128},{240,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,276}}</string>
                <key>offset</key>
                <string>{-73,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,157},{332,276}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{388,204}}</string>
                <key>offset</key>
                <string>{-72,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,291},{388,204}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1010},{400,160}}</string>
                <key>offset</key>
                <string>{-87,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,334},{400,160}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{404,152}}</string>
                <key>offset</key>
                <string>{-82,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,332},{404,152}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{410,142}}</string>
                <key>offset</key>
                <string>{-82,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,348},{410,142}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10067_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,908},{414,128}}</string>
                <key>offset</key>
                <string>{-83,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,358},{414,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10067_die.png</string>
            <key>size</key>
            <string>{480,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eabf0214d6aae7f091b2917489d3d1b$</string>
            <key>textureFileName</key>
            <string>10067_die.png</string>
        </dict>
    </dict>
</plist>
