<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10029_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{284,254}}</string>
                <key>offset</key>
                <string>{-76,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,183},{284,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,310}}</string>
                <key>offset</key>
                <string>{-62,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,62},{278,310}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{392,216}}</string>
                <key>offset</key>
                <string>{-141,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,126},{392,216}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{370,202}}</string>
                <key>offset</key>
                <string>{-165,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,264},{370,202}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1376},{396,94}}</string>
                <key>offset</key>
                <string>{-162,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,368},{396,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1376},{416,116}}</string>
                <key>offset</key>
                <string>{-174,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,370},{416,116}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,960},{414,124}}</string>
                <key>offset</key>
                <string>{-172,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,369},{414,124}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{418,116}}</string>
                <key>offset</key>
                <string>{-173,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,375},{418,116}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10029_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,538},{420,114}}</string>
                <key>offset</key>
                <string>{-173,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,377},{420,114}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10029_die.png</string>
            <key>size</key>
            <string>{336,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b056f124110fbbb71caf4f1d5635b32$</string>
            <key>textureFileName</key>
            <string>10029_die.png</string>
        </dict>
    </dict>
</plist>
