<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{587,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,392}}</string>
                <key>sourceSize</key>
                <string>{587,392}</string>
            </dict>
            <key>chapter_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,77}}</string>
                <key>sourceSize</key>
                <string>{1136,77}</string>
            </dict>
            <key>chapter_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,95},{77,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,640}}</string>
                <key>sourceSize</key>
                <string>{77,640}</string>
            </dict>
            <key>chapter_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{1124,12}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{1124,12}}</string>
                <key>sourceSize</key>
                <string>{1132,12}</string>
            </dict>
            <key>chapter_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,174},{336,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,181}}</string>
                <key>sourceSize</key>
                <string>{336,181}</string>
            </dict>
            <key>chapter_needLevelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,174},{84,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,206}}</string>
                <key>sourceSize</key>
                <string>{84,206}</string>
            </dict>
            <key>chapter_startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,357},{266,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,87}}</string>
                <key>sourceSize</key>
                <string>{266,87}</string>
            </dict>
            <key>chapter_texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapter.png</string>
            <key>size</key>
            <string>{1233,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c400eb6b8ca1484c85ff411e1ae6c86$</string>
            <key>textureFileName</key>
            <string>chapter.png</string>
        </dict>
    </dict>
</plist>
