<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10044_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{166,176}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,130},{166,176}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{188,158}}</string>
                <key>offset</key>
                <string>{-36,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,108},{188,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,138}}</string>
                <key>offset</key>
                <string>{-49,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,120},{232,138}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{230,118}}</string>
                <key>offset</key>
                <string>{-44,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,199},{230,118}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,130},{262,64}}</string>
                <key>offset</key>
                <string>{-31,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,256},{262,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,192},{260,58}}</string>
                <key>offset</key>
                <string>{-30,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,255},{260,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,66},{264,62}}</string>
                <key>offset</key>
                <string>{-34,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,256},{264,62}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10044_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{264,62}}</string>
                <key>offset</key>
                <string>{-35,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,257},{264,62}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10044_die.png</string>
            <key>size</key>
            <string>{856,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7601a40bf2400ffdbead6b6bfdda9d21$</string>
            <key>textureFileName</key>
            <string>10044_die.png</string>
        </dict>
    </dict>
</plist>
