<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10032_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,190}}</string>
                <key>offset</key>
                <string>{-51,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,217},{306,190}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10032_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{264,174}}</string>
                <key>offset</key>
                <string>{-48,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,232},{264,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10032_hurt.png</string>
            <key>size</key>
            <string>{576,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e20feb9bfe3d512d6f41f03b8c94338f$</string>
            <key>textureFileName</key>
            <string>10032_hurt.png</string>
        </dict>
    </dict>
</plist>
