<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10068_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,862},{202,264}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,167},{202,264}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{314,260}}</string>
                <key>offset</key>
                <string>{-74,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,137},{314,260}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{220,318}}</string>
                <key>offset</key>
                <string>{-94,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,103},{220,318}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{276,202}}</string>
                <key>offset</key>
                <string>{-146,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,244},{276,202}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{326,138}}</string>
                <key>offset</key>
                <string>{-171,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,294},{326,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,332},{322,154}}</string>
                <key>offset</key>
                <string>{-176,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,308},{322,154}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{328,142}}</string>
                <key>offset</key>
                <string>{-174,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,327},{328,142}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{326,120}}</string>
                <key>offset</key>
                <string>{-175,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,356},{326,120}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,112}}</string>
                <key>offset</key>
                <string>{-172,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,366},{332,112}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10068_die.png</string>
            <key>size</key>
            <string>{486,1150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:613e6524062f297c6b47f7388fa3a8a8$</string>
            <key>textureFileName</key>
            <string>10068_die.png</string>
        </dict>
    </dict>
</plist>
