<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10068_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{202,264}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,167},{202,264}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{218,254}}</string>
                <key>offset</key>
                <string>{-41,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,198},{218,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,240}}</string>
                <key>offset</key>
                <string>{-42,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,200},{266,240}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10068_hurt.png</string>
            <key>size</key>
            <string>{244,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13cde3d6bc553e8eb81646f3a18ea111$</string>
            <key>textureFileName</key>
            <string>10068_hurt.png</string>
        </dict>
    </dict>
</plist>
