<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10068_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1376},{202,264}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,167},{202,264}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1106},{268,260}}</string>
                <key>offset</key>
                <string>{-92,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,167},{268,260}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,376}}</string>
                <key>offset</key>
                <string>{-113,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,51},{318,376}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{412,186}}</string>
                <key>offset</key>
                <string>{126,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,258},{412,186}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{406,186}}</string>
                <key>offset</key>
                <string>{129,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,268},{406,186}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{412,182}}</string>
                <key>offset</key>
                <string>{126,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,262},{412,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{398,186}}</string>
                <key>offset</key>
                <string>{116,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,245},{398,186}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,402},{384,212}}</string>
                <key>offset</key>
                <string>{107,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,221},{384,212}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,794},{310,250}}</string>
                <key>offset</key>
                <string>{72,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,196},{310,250}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10068_attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1580},{176,262}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,178},{176,262}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10068_attack.png</string>
            <key>size</key>
            <string>{511,1758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6895958c33fe49c06567e76cfb58195c$</string>
            <key>textureFileName</key>
            <string>10068_attack.png</string>
        </dict>
    </dict>
</plist>
