<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10012_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{238,342}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,107},{238,342}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,350},{440,300}}</string>
                <key>offset</key>
                <string>{-32,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,135},{440,300}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{554,206}}</string>
                <key>offset</key>
                <string>{-38,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,229},{554,206}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,792},{598,246}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,239},{598,246}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{662,230}}</string>
                <key>offset</key>
                <string>{16,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,252},{662,230}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{706,220}}</string>
                <key>offset</key>
                <string>{36,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,268},{706,220}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{714,210}}</string>
                <key>offset</key>
                <string>{43,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,274},{714,210}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{716,202}}</string>
                <key>offset</key>
                <string>{42,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,276},{716,202}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{716,188}}</string>
                <key>offset</key>
                <string>{42,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,287},{716,188}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{718,180}}</string>
                <key>offset</key>
                <string>{41,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,292},{718,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10012_die_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,164}}</string>
                <key>offset</key>
                <string>{41,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,308},{718,164}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10012_die.png</string>
            <key>size</key>
            <string>{1022,1618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2803b1350a136201ee15e620c42f220d$</string>
            <key>textureFileName</key>
            <string>10012_die.png</string>
        </dict>
    </dict>
</plist>
