<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10012_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,304}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,68},{210,304}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10012_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{262,294}}</string>
                <key>offset</key>
                <string>{-26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,75},{262,294}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10012_hurt.png</string>
            <key>size</key>
            <string>{478,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950e784adc931e7eb8971597beaf4319$</string>
            <key>textureFileName</key>
            <string>10012_hurt.png</string>
        </dict>
    </dict>
</plist>
