<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_frame_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{185,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,87}}</string>
                <key>sourceSize</key>
                <string>{185,91}</string>
            </dict>
            <key>recharge_frame_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,159}}</string>
                <key>sourceSize</key>
                <string>{185,159}</string>
            </dict>
            <key>recharge_moneyIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,475},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>recharge_moneyIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,428},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,40}}</string>
                <key>sourceSize</key>
                <string>{55,40}</string>
            </dict>
            <key>recharge_moneyIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,356},{70,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,47}}</string>
                <key>sourceSize</key>
                <string>{70,47}</string>
            </dict>
            <key>recharge_moneyIcon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,289},{84,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{84,65}</string>
            </dict>
            <key>recharge_moneyIcon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,189},{98,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>recharge_moneyIcon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{126,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,97}}</string>
                <key>sourceSize</key>
                <string>{126,97}</string>
            </dict>
            <key>recharge_nameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{123,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,28}}</string>
                <key>sourceSize</key>
                <string>{123,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recharge.png</string>
            <key>size</key>
            <string>{187,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7b3b2fae4e073538accc250898ad45e$</string>
            <key>textureFileName</key>
            <string>recharge.png</string>
        </dict>
    </dict>
</plist>
