<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10025_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{214,164}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,133},{214,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{216,166}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,135},{216,166}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,170}}</string>
                <key>offset</key>
                <string>{35,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,131},{218,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{214,170}}</string>
                <key>offset</key>
                <string>{37,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,130},{214,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{206,168}}</string>
                <key>offset</key>
                <string>{38,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,132},{206,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{200,168}}</string>
                <key>offset</key>
                <string>{37,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,134},{200,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{204,170}}</string>
                <key>offset</key>
                <string>{34,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,130},{204,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10025_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{210,170}}</string>
                <key>offset</key>
                <string>{32,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,130},{210,170}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10025_walk.png</string>
            <key>size</key>
            <string>{174,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec1f1c862d7b68aab3cca514dfbdd1a$</string>
            <key>textureFileName</key>
            <string>10025_walk.png</string>
        </dict>
    </dict>
</plist>
