<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10071_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,258}}</string>
                <key>offset</key>
                <string>{-31,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,158},{246,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{224,154}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,205},{224,154}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,210}}</string>
                <key>offset</key>
                <string>{-62,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,103},{244,210}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{242,188}}</string>
                <key>offset</key>
                <string>{-67,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,226},{242,188}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,98},{276,92}}</string>
                <key>offset</key>
                <string>{-50,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,328},{276,92}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{286,94}}</string>
                <key>offset</key>
                <string>{-44,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,342},{286,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{288,88}}</string>
                <key>offset</key>
                <string>{-43,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,349},{288,88}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,92},{288,68}}</string>
                <key>offset</key>
                <string>{-43,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,354},{288,68}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10071_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,162},{282,76}}</string>
                <key>offset</key>
                <string>{-45,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,351},{282,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10071_die.png</string>
            <key>size</key>
            <string>{1486,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e9f10de1c71b27eb323297c2a93d970$</string>
            <key>textureFileName</key>
            <string>10071_die.png</string>
        </dict>
    </dict>
</plist>
