<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10056_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{192,276}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,180},{192,276}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,286},{174,280}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,188},{174,280}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{152,282}}</string>
                <key>offset</key>
                <string>{-31,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,182},{152,282}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{160,282}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,176},{160,282}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,282}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,179},{186,282}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{164,280}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,185},{164,280}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,168},{152,278}}</string>
                <key>offset</key>
                <string>{-33,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,178},{152,278}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10056_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,322},{162,276}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,175},{162,276}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10056_walk.png</string>
            <key>size</key>
            <string>{844,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ed6e859a04984868ddcfa78e75f6b3d$</string>
            <key>textureFileName</key>
            <string>10056_walk.png</string>
        </dict>
    </dict>
</plist>
