<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10040_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,148}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,190},{100,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{92,152}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,192},{92,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{70,156}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,187},{70,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,74},{62,158}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,185},{62,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{94,152}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,189},{94,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,96},{86,148}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,191},{86,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,74},{64,150}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,187},{64,150}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,96},{74,156}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,186},{74,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10040_walk.png</string>
            <key>size</key>
            <string>{450,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ccf480ae1bd02b8283ba9cda6bd550b$</string>
            <key>textureFileName</key>
            <string>10040_walk.png</string>
        </dict>
    </dict>
</plist>
