<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10040_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,154}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,196},{116,154}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10040_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{98,140}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,210},{98,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10040_hurt.png</string>
            <key>size</key>
            <string>{120,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c235c4ec828622482622d6fcf248fa$</string>
            <key>textureFileName</key>
            <string>10040_hurt.png</string>
        </dict>
    </dict>
</plist>
