<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10026_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,194}}</string>
                <key>offset</key>
                <string>{27,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,119},{172,194}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{154,188}}</string>
                <key>offset</key>
                <string>{27,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,121},{154,188}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{136,190}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,118},{136,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{130,190}}</string>
                <key>offset</key>
                <string>{21,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,117},{130,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{138,186}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,119},{138,186}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{136,188}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,121},{136,188}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{140,190}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,119},{140,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10026_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{158,190}}</string>
                <key>offset</key>
                <string>{30,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,117},{158,190}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10026_walk.png</string>
            <key>size</key>
            <string>{1182,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccdfa369da3c91f7a74278180098d79d$</string>
            <key>textureFileName</key>
            <string>10026_walk.png</string>
        </dict>
    </dict>
</plist>
