<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10013_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,258}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,172},{316,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,294},{226,258}}</string>
                <key>offset</key>
                <string>{-49,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,143},{226,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{250,230}}</string>
                <key>offset</key>
                <string>{-90,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,165},{250,230}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{258,228}}</string>
                <key>offset</key>
                <string>{-80,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,223},{258,228}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,838},{292,146}}</string>
                <key>offset</key>
                <string>{-62,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,338},{292,146}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,554},{282,154}}</string>
                <key>offset</key>
                <string>{-61,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,341},{282,154}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{290,156}}</string>
                <key>offset</key>
                <string>{-63,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,340},{290,156}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,838},{288,144}}</string>
                <key>offset</key>
                <string>{-68,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,340},{288,144}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{284,152}}</string>
                <key>offset</key>
                <string>{-73,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,340},{284,152}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10013_die.png</string>
            <key>size</key>
            <string>{490,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ff0bbbe570af3d86ae5f33ba84409fd$</string>
            <key>textureFileName</key>
            <string>10013_die.png</string>
        </dict>
    </dict>
</plist>
