<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10013_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,258}}</string>
                <key>offset</key>
                <string>{50,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,177},{278,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{266,258}}</string>
                <key>offset</key>
                <string>{47,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,178},{266,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,262},{236,258}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,173},{236,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{226,256}}</string>
                <key>offset</key>
                <string>{41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,170},{226,256}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,522},{240,254}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,173},{240,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{232,250}}</string>
                <key>offset</key>
                <string>{43,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,176},{232,250}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,778},{224,252}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,173},{224,252}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10013_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{258,254}}</string>
                <key>offset</key>
                <string>{48,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,172},{258,254}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10013_walk.png</string>
            <key>size</key>
            <string>{510,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5da6aa72107a02ba79d3a98f028dd0b6$</string>
            <key>textureFileName</key>
            <string>10013_walk.png</string>
        </dict>
    </dict>
</plist>
