<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10015_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1030},{274,256}}</string>
                <key>offset</key>
                <string>{-34,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,254},{274,256}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1840},{182,224}}</string>
                <key>offset</key>
                <string>{-14,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,286},{182,224}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1568},{258,270}}</string>
                <key>offset</key>
                <string>{-41,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,195},{258,270}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1288},{274,278}}</string>
                <key>offset</key>
                <string>{41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,147},{274,278}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{242,400}}</string>
                <key>offset</key>
                <string>{13,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,8},{242,400}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{350,300}}</string>
                <key>offset</key>
                <string>{-95,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,113},{350,300}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,404},{328,292}}</string>
                <key>offset</key>
                <string>{-43,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,220},{328,292}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{476,286}}</string>
                <key>offset</key>
                <string>{146,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,234},{476,286}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{474,288}}</string>
                <key>offset</key>
                <string>{152,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,225},{474,288}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,330}}</string>
                <key>offset</key>
                <string>{154,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,194},{460,330}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{414,318}}</string>
                <key>offset</key>
                <string>{141,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,195},{414,318}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10015_attack_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,698},{330,270}}</string>
                <key>offset</key>
                <string>{62,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,249},{330,270}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10015_attack.png</string>
            <key>size</key>
            <string>{708,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c0db2131c2beda3ffae69ceb9393a7$</string>
            <key>textureFileName</key>
            <string>10015_attack.png</string>
        </dict>
    </dict>
</plist>
