<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10035_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{326,118}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,228},{326,118}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,192}}</string>
                <key>offset</key>
                <string>{-58,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,180},{288,192}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{182,186}}</string>
                <key>offset</key>
                <string>{-149,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,159},{182,186}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{284,160}}</string>
                <key>offset</key>
                <string>{-218,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,229},{284,160}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{330,96}}</string>
                <key>offset</key>
                <string>{-208,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,262},{330,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,132},{328,94}}</string>
                <key>offset</key>
                <string>{-209,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,267},{328,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{302,128}}</string>
                <key>offset</key>
                <string>{-226,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,259},{302,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,100},{326,108}}</string>
                <key>offset</key>
                <string>{-216,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,280},{326,108}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,122},{342,100}}</string>
                <key>offset</key>
                <string>{-208,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,280},{342,100}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10035_die.png</string>
            <key>size</key>
            <string>{1768,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05221d646342f15354c8c28526c9c219$</string>
            <key>textureFileName</key>
            <string>10035_die.png</string>
        </dict>
    </dict>
</plist>
