<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10035_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,118}}</string>
                <key>offset</key>
                <string>{-38,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,228},{328,118}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10035_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{326,114}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,234},{326,114}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10035_hurt.png</string>
            <key>size</key>
            <string>{660,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e14f43f72b5059419130fbe6e406e99$</string>
            <key>textureFileName</key>
            <string>10035_hurt.png</string>
        </dict>
    </dict>
</plist>
