<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10034_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{258,176}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,146},{258,176}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{268,188}}</string>
                <key>offset</key>
                <string>{-104,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,130},{268,188}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,734},{240,256}}</string>
                <key>offset</key>
                <string>{-131,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,68},{240,256}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{288,154}}</string>
                <key>offset</key>
                <string>{-47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,193},{288,154}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,416},{282,136}}</string>
                <key>offset</key>
                <string>{-58,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,205},{282,136}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{300,134}}</string>
                <key>offset</key>
                <string>{-69,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,206},{300,134}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{304,128}}</string>
                <key>offset</key>
                <string>{-67,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,211},{304,128}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,118}}</string>
                <key>offset</key>
                <string>{-60,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,225},{314,118}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10034_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,122},{292,122}}</string>
                <key>offset</key>
                <string>{-61,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,225},{292,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10034_die.png</string>
            <key>size</key>
            <string>{432,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef957435780a0713c92c644fd6908fed$</string>
            <key>textureFileName</key>
            <string>10034_die.png</string>
        </dict>
    </dict>
</plist>
