<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10046_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{150,140}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,160},{150,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,154},{96,140}}</string>
                <key>offset</key>
                <string>{-28,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,149},{96,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{152,96}}</string>
                <key>offset</key>
                <string>{-87,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,163},{152,96}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,178},{156,72}}</string>
                <key>offset</key>
                <string>{-139,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,235},{156,72}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{178,70}}</string>
                <key>offset</key>
                <string>{-134,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,248},{178,70}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,64}}</string>
                <key>offset</key>
                <string>{-133,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,248},{180,64}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{178,60}}</string>
                <key>offset</key>
                <string>{-136,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,255},{178,60}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10046_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{174,58}}</string>
                <key>offset</key>
                <string>{-137,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,262},{174,58}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10046_die.png</string>
            <key>size</key>
            <string>{482,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b44b03b515244de9b28830ecb00f530b$</string>
            <key>textureFileName</key>
            <string>10046_die.png</string>
        </dict>
    </dict>
</plist>
