<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10023_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{112,158}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,164},{112,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{118,160}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,166},{118,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{114,162}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,164},{114,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,162}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,163},{116,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{126,160}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,164},{126,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{132,158}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,166},{132,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{116,160}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,163},{116,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10023_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,162}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,162},{114,162}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10023_walk.png</string>
            <key>size</key>
            <string>{966,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3548efe95a797b6e3dd6466d37025aa7$</string>
            <key>textureFileName</key>
            <string>10023_walk.png</string>
        </dict>
    </dict>
</plist>
