<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10064_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{118,258}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,122},{118,258}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10064_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{154,214}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,166},{154,214}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10064_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,248}}</string>
                <key>offset</key>
                <string>{-26,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,132},{174,248}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10064_hurt.png</string>
            <key>size</key>
            <string>{728,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56b0559310d26526440adf02e13e6784$</string>
            <key>textureFileName</key>
            <string>10064_hurt.png</string>
        </dict>
    </dict>
</plist>
