<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10055_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,96},{126,250}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,136},{126,250}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{216,234}}</string>
                <key>offset</key>
                <string>{-36,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,110},{216,234}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,246}}</string>
                <key>offset</key>
                <string>{-96,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,94},{238,246}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{188,180}}</string>
                <key>offset</key>
                <string>{-153,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,222},{188,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{244,146}}</string>
                <key>offset</key>
                <string>{-149,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,255},{244,146}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{262,140}}</string>
                <key>offset</key>
                <string>{-151,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,272},{262,140}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{278,92}}</string>
                <key>offset</key>
                <string>{-143,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,316},{278,92}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,144},{276,94}}</string>
                <key>offset</key>
                <string>{-145,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,329},{276,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10055_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,150},{280,86}}</string>
                <key>offset</key>
                <string>{-146,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,343},{280,86}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10055_die.png</string>
            <key>size</key>
            <string>{1490,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a72a2aa03545ed0a461af9518473391$</string>
            <key>textureFileName</key>
            <string>10055_die.png</string>
        </dict>
    </dict>
</plist>
