<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20005_skill_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,240},{220,172}}</string>
                <key>offset</key>
                <string>{56,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,302},{220,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,724},{250,160}}</string>
                <key>offset</key>
                <string>{36,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,318},{250,160}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,414},{218,138}}</string>
                <key>offset</key>
                <string>{24,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,343},{218,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,742},{238,154}}</string>
                <key>offset</key>
                <string>{12,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,324},{238,154}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{268,212}}</string>
                <key>offset</key>
                <string>{112,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,199},{268,212}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{238,176}}</string>
                <key>offset</key>
                <string>{99,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,221},{238,176}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,174}}</string>
                <key>offset</key>
                <string>{127,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,222},{308,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{236,196}}</string>
                <key>offset</key>
                <string>{83,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,208},{236,196}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{262,184}}</string>
                <key>offset</key>
                <string>{93,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,235},{262,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,554},{168,192}}</string>
                <key>offset</key>
                <string>{64,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,252},{168,192}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_skill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{280,162}}</string>
                <key>offset</key>
                <string>{92,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,313},{280,162}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20005_skill.png</string>
            <key>size</key>
            <string>{510,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f4621e18382dd2e7d2105fe91d6f37c$</string>
            <key>textureFileName</key>
            <string>20005_skill.png</string>
        </dict>
    </dict>
</plist>
