<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20005_attack_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{266,128}}</string>
                <key>offset</key>
                <string>{64,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,346},{266,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{250,204}}</string>
                <key>offset</key>
                <string>{39,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,195},{250,204}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{250,178}}</string>
                <key>offset</key>
                <string>{58,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,180},{250,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{260,144}}</string>
                <key>offset</key>
                <string>{76,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,188},{260,144}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{272,356}}</string>
                <key>offset</key>
                <string>{20,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,83},{272,356}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,288}}</string>
                <key>offset</key>
                <string>{8,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,78},{250,288}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{196,190}}</string>
                <key>offset</key>
                <string>{25,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,72},{196,190}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{248,192}}</string>
                <key>offset</key>
                <string>{58,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,205},{248,192}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{248,202}}</string>
                <key>offset</key>
                <string>{38,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,257},{248,202}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20005_attack_5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{266,146}}</string>
                <key>offset</key>
                <string>{64,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,329},{266,146}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20005_attack_5.png</string>
            <key>size</key>
            <string>{2012,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fa8268383ec8daa80562f9497ff7046$</string>
            <key>textureFileName</key>
            <string>20005_attack_5.png</string>
        </dict>
    </dict>
</plist>
