<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10063_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{166,306}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,98},{166,306}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10063_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{212,270}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,134},{212,270}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10063_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,278}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,126},{234,278}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10063_hurt.png</string>
            <key>size</key>
            <string>{238,862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4439631c346335561c33983f81460de$</string>
            <key>textureFileName</key>
            <string>10063_hurt.png</string>
        </dict>
    </dict>
</plist>
