<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10052_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{200,248}}</string>
                <key>offset</key>
                <string>{29,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,182},{200,248}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{234,188}}</string>
                <key>offset</key>
                <string>{-70,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,198},{234,188}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,228}}</string>
                <key>offset</key>
                <string>{-98,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,163},{278,228}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,142},{290,108}}</string>
                <key>offset</key>
                <string>{-115,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,322},{290,108}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,120},{272,132}}</string>
                <key>offset</key>
                <string>{-115,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,339},{272,132}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{278,138}}</string>
                <key>offset</key>
                <string>{-118,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,336},{278,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,132},{284,118}}</string>
                <key>offset</key>
                <string>{-119,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,334},{284,118}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{288,128}}</string>
                <key>offset</key>
                <string>{-120,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,331},{288,128}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10052_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{286,116}}</string>
                <key>offset</key>
                <string>{-118,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,335},{286,116}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10052_die.png</string>
            <key>size</key>
            <string>{1532,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3148e016b4f5ae834a08d65aae453060$</string>
            <key>textureFileName</key>
            <string>10052_die.png</string>
        </dict>
    </dict>
</plist>
