<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10011_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,434},{210,212}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,102},{210,212}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{200,176}}</string>
                <key>offset</key>
                <string>{-65,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,141},{200,176}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{236,180}}</string>
                <key>offset</key>
                <string>{-85,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,121},{236,180}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,148}}</string>
                <key>offset</key>
                <string>{-97,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,201},{240,148}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,294},{226,138}}</string>
                <key>offset</key>
                <string>{-97,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,224},{226,138}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{238,152}}</string>
                <key>offset</key>
                <string>{-104,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,213},{238,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,156},{238,136}}</string>
                <key>offset</key>
                <string>{-102,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,215},{238,136}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10011_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{238,136}}</string>
                <key>offset</key>
                <string>{-99,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,217},{238,136}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10011_die.png</string>
            <key>size</key>
            <string>{484,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09385d0aeaadfb39b1a76bef82cd724a$</string>
            <key>textureFileName</key>
            <string>10011_die.png</string>
        </dict>
    </dict>
</plist>
