<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10059_die_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{286,242}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,187},{286,242}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{230,178}}</string>
                <key>offset</key>
                <string>{-69,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,200},{230,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{292,226}}</string>
                <key>offset</key>
                <string>{-105,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,166},{292,226}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{260,108}}</string>
                <key>offset</key>
                <string>{-100,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,325},{260,108}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,148}}</string>
                <key>offset</key>
                <string>{-102,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,342},{246,148}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{258,158}}</string>
                <key>offset</key>
                <string>{-108,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,337},{258,158}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{258,146}}</string>
                <key>offset</key>
                <string>{-107,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,334},{258,146}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{258,146}}</string>
                <key>offset</key>
                <string>{-105,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,336},{258,146}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10059_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,112},{256,132}}</string>
                <key>offset</key>
                <string>{-103,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,338},{256,132}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10059_die.png</string>
            <key>size</key>
            <string>{1956,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3cd75fd06c99f627010966473f61963$</string>
            <key>textureFileName</key>
            <string>10059_die.png</string>
        </dict>
    </dict>
</plist>
