<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightUI_barFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1138},{211,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,69}}</string>
                <key>sourceSize</key>
                <string>{211,69}</string>
            </dict>
            <key>fightUI_barFrame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1},{495,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,58}}</string>
                <key>sourceSize</key>
                <string>{495,58}</string>
            </dict>
            <key>fightUI_bottomBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1136,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,94}}</string>
                <key>sourceSize</key>
                <string>{1136,94}</string>
            </dict>
            <key>fightUI_greenBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1208},{194,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,56}}</string>
                <key>sourceSize</key>
                <string>{194,56}</string>
            </dict>
            <key>fightUI_moneyIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,958},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>fightUI_onlineReward_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,955},{89,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,9}}</string>
                <key>sourceSize</key>
                <string>{89,9}</string>
            </dict>
            <key>fightUI_onlineReward_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1078},{105,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,51}}</string>
                <key>sourceSize</key>
                <string>{105,53}</string>
            </dict>
            <key>fightUI_onlineReward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1208},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>fightUI_pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,216},{94,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fightUI_pot_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,121},{94,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fightUI_redBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,497},{460,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,54}}</string>
                <key>sourceSize</key>
                <string>{460,54}</string>
            </dict>
            <key>fightUI_scoreFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{119,65}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{119,65}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>fightUI_set_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,497},{65,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,371}}</string>
                <key>sourceSize</key>
                <string>{65,371}</string>
            </dict>
            <key>fightUI_set_hideBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,391},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>fightUI_set_showBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,311},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>fightUI_titleIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,869},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightUI.png</string>
            <key>size</key>
            <string>{237,1265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b668519edf091a45941c298b5fc59360$</string>
            <key>textureFileName</key>
            <string>fightUI.png</string>
        </dict>
    </dict>
</plist>
