<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainGold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,284}}</string>
                <key>sourceSize</key>
                <string>{497,284}</string>
            </dict>
            <key>gainGold_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{380,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,217}}</string>
                <key>sourceSize</key>
                <string>{380,217}</string>
            </dict>
            <key>gainGold_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{315,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,34}}</string>
                <key>sourceSize</key>
                <string>{315,34}</string>
            </dict>
            <key>gainGold_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,288},{161,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,80}}</string>
                <key>sourceSize</key>
                <string>{163,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gainGold.png</string>
            <key>size</key>
            <string>{537,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1170c197e0329b24bc182868283f868$</string>
            <key>textureFileName</key>
            <string>gainGold.png</string>
        </dict>
    </dict>
</plist>
