<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10065_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,238}}</string>
                <key>offset</key>
                <string>{49,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,136},{246,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{224,232}}</string>
                <key>offset</key>
                <string>{47,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,139},{224,232}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{198,234}}</string>
                <key>offset</key>
                <string>{47,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,133},{198,234}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{184,238}}</string>
                <key>offset</key>
                <string>{37,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,132},{184,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{190,232}}</string>
                <key>offset</key>
                <string>{21,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,136},{190,232}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{182,234}}</string>
                <key>offset</key>
                <string>{27,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,139},{182,234}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{186,238}}</string>
                <key>offset</key>
                <string>{44,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,136},{186,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>10065_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{218,238}}</string>
                <key>offset</key>
                <string>{53,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,133},{218,238}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10065_walk.png</string>
            <key>size</key>
            <string>{1646,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3401714230265af8def3780c6f9e9574$</string>
            <key>textureFileName</key>
            <string>10065_walk.png</string>
        </dict>
    </dict>
</plist>
