<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10019_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{212,270}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,92},{212,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,274},{206,268}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,94},{206,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,220},{210,268}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,94},{210,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{216,268}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,94},{216,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{224,268}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,92},{224,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{232,262}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,93},{232,262}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,264}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,93},{238,264}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{236,266}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,94},{236,266}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,266},{226,268}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,93},{226,268}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_walk_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,228},{218,270}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,91},{218,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10019_walk.png</string>
            <key>size</key>
            <string>{1242,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42792c23a5c23950ea093fcb615c7ac6$</string>
            <key>textureFileName</key>
            <string>10019_walk.png</string>
        </dict>
    </dict>
</plist>
