<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10019_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{218,270}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,88},{218,270}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10019_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,266}}</string>
                <key>offset</key>
                <string>{-49,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,92},{248,266}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10019_hurt.png</string>
            <key>size</key>
            <string>{252,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bf613a2e710d2e92cb48945b4965338$</string>
            <key>textureFileName</key>
            <string>10019_hurt.png</string>
        </dict>
    </dict>
</plist>
