<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10024_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{204,174}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,125},{204,174}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{202,178}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,127},{202,178}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{204,182}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,124},{204,182}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{208,182}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,123},{208,182}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{210,180}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,125},{210,180}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{210,178}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,127},{210,178}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{212,180}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,124},{212,180}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,182}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,122},{210,182}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10024_walk.png</string>
            <key>size</key>
            <string>{186,1678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c3bc7ca8552c8fd09a6f286b8ca484$</string>
            <key>textureFileName</key>
            <string>10024_walk.png</string>
        </dict>
    </dict>
</plist>
