<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10024_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{212,178}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,132},{212,178}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{198,166}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,145},{198,166}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{192,156}}</string>
                <key>offset</key>
                <string>{-59,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,155},{192,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,234}}</string>
                <key>offset</key>
                <string>{-67,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,78},{196,234}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{184,146}}</string>
                <key>offset</key>
                <string>{56,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,158},{184,146}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{148,140}}</string>
                <key>offset</key>
                <string>{38,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,164},{148,140}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{130,138}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,168},{130,138}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10024_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{124,146}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,161},{124,146}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10024_attack.png</string>
            <key>size</key>
            <string>{200,1358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e192981af504d491dd1f07ced49b32e$</string>
            <key>textureFileName</key>
            <string>10024_attack.png</string>
        </dict>
    </dict>
</plist>
